In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('pred_dti_procan.csv')

In [4]:
df

,Unnamed: 0,smiles,sequence,label,ID
0,0,C1=CC(=C(C=C1C2=C(C(=O)C3=C(C=C(C=C3O2)O)O)O)O)O,MAFMKKYLLPILGLFMAYYYYSANEEFRPEMLQGKKVIVTGASKGI...,-0.106626,5280343
1,1,C1=CC(=C(C=C1C2=C(C(=O)C3=C(C=C(C=C3O2)O)O)O)O)O,MGMACLTMTEMEGTSTSSIYQNGDISGNANSMKQIDPVLQVYLYHS...,-5.278018,5280343
2,2,C1=CC(=C(C=C1C2=C(C(=O)C3=C(C=C(C=C3O2)O)O)O)O)O,MRPSGTAGAALLALLAALCPASRALEEKKVCQGTSNKLTQLGTFED...,-0.303795,5280343
3,3,C1=CC(=C(C=C1C2=C(C(=O)C3=C(C=C(C=C3O2)O)O)O)O)O,MRLPGAMPALALKGELLLLSLLLLLEPQISQGLVVTPPGPELVLNV...,-2.014575,5280343
4,4,C1=CC(=C(C=C1C2=C(C(=O)C3=C(C=C(C=C3O2)O)O)O)O)O,MWSWKCLLFWAVLVTATLCTARPSPTLPEQAQPWGAPVEVESFLVH...,-3.882414,5280343
...,...,...,...,...,...
828439,828439,CN1C(=NC=N1)[C@@H]2[C@H](N=C3C=C(C=C4C3=C2NNC4...,MFDGYDSCSEDTSSSSSSEESEEEVAPLPSNLPIIKNNGQVYTYPD...,-2.397436,44819241
828440,828440,CN1C(=NC=N1)[C@@H]2[C@H](N=C3C=C(C=C4C3=C2NNC4...,MAAAPARGGGGGGGGGGGCSGSGSSASRGFYFNTVLSLARSLAVQR...,-0.796705,44819241
828441,828441,CN1C(=NC=N1)[C@@H]2[C@H](N=C3C=C(C=C4C3=C2NNC4...,MLEAMAEPSPEDPPPTLKPETQPPEKRRRTIEDFNKFCSFVLAYAG...,0.714352,44819241
828442,828442,CN1C(=NC=N1)[C@@H]2[C@H](N=C3C=C(C=C4C3=C2NNC4...,MPTQRDSSTMSHTVAGGGSGDHSHQVRVKAYYRGDIMITHFEPSIS...,-1.726630,44819241
828443,828443,CN1C(=NC=N1)[C@@H]2[C@H](N=C3C=C(C=C4C3=C2NNC4...,MPQLYIYIRLLGAYLFIISRVQGQNLDSMLHGTGMKSDSDQKKSEN...,-0.158524,44819241

In [5]:
df_sorted = df.sort_values(by=['ID', 'sequence'], ascending=[True, True])

In [6]:
df_sorted

,Unnamed: 0,smiles,sequence,label,ID
48936,48936,C1=CC=NC(=C1)C(=O)O,AAPYLKTKFICVTPTTCSNTIDLPMSPRTLDSLMQFGNGEGAEPSA...,-3.782130,1018
48789,48789,C1=CC=NC(=C1)C(=O)O,AKPKHRVTMNEFEYLKLLGKGTFGKVILVKEKATGRYYAMKILKKE...,-4.322237,1018
48842,48842,C1=CC=NC(=C1)C(=O)O,CPTPKEDGLAQQQTQLNLRSLLVNPEGPTLMRLNSVQSSERPLFLV...,-4.080375,1018
49069,49069,C1=CC=NC(=C1)C(=O)O,DNENVVNEYSSELEKHQLYIDETVNSNIPTNLRVLRSILENLRSKI...,-7.954015,1018
49296,49296,C1=CC=NC(=C1)C(=O)O,EEQMRLPSADVYRFAEPDSEENIIFEENMQPKAGIPIIKAGTVIKL...,-2.586296,1018
...,...,...,...,...,...
462697,462697,C1CC(CCC1NC2=NC=NC3=C2C(=CN3)C4CCOCC4)N5CCOCC5,NLWAAQRYGRELRRNSDEFVDSFKK,-15.614943,482160899
463669,463669,C1CC(CCC1NC2=NC=NC3=C2C(=CN3)C4CCOCC4)N5CCOCC5,PDASQDDGPAVERPSTEL,-10.151730,482160899
462594,462594,C1CC(CCC1NC2=NC=NC3=C2C(=CN3)C4CCOCC4)N5CCOCC5,SDAVSSDRNFPNSTNLPRNPSMADYEARIFTFGTWIYSVNKEQLAR...,-3.523572,482160899
462254,462254,C1CC(CCC1NC2=NC=NC3=C2C(=CN3)C4CCOCC4)N5CCOCC5,SSPPQILPQLSPEQLGMIEKLVAAQQQCNRRSFSDRLRVTPWPMAP...,-2.198403,482160899
463667,463667,C1CC(CCC1NC2=NC=NC3=C2C(=CN3)C4CCOCC4)N5CCOCC5,SVNEVPDYHEDIHTYLREMEVKCKPKVGYMKKQPDITNSMRAILVD...,2.323930,482160899

In [7]:
# 그룹별로 sequence 리스트 만들기
group_seq = df_sorted.groupby("ID")['sequence'].apply(list)

# 첫 번째 그룹의 sequence를 기준으로 비교
first_seq = group_seq.iloc[0]
all_equal = group_seq.apply(lambda x: x == first_seq).all()

print("모든 그룹의 sequence 리스트가 동일한가?", all_equal)

모든 그룹의 sequence 리스트가 동일한가? True

In [12]:
group_label_by_cid = df_sorted.groupby("ID")['label'].apply(list)

In [14]:
import torch
group_label_tensor_dict = {cid: torch.tensor(labels) for cid, labels in group_label_by_cid.items()}
print(len(group_label_tensor_dict))

527

In [15]:
torch.save(group_label_tensor_dict, 'cid2dti_dict.pt')
loaded_dict = torch.load('cid2dti_dict.pt')